--extra-index-url https://download.pytorch.org/whl/cpu
torch
flask
flask_cors
pandas
langchain-chroma
langchain-huggingface
langchain-groq
langchain-community
rank-bm25
sentence-transformers
huggingface-hub